<div class="dialog-wrapper">
  <h1 mat-dialog-title>Add Alert Recipient</h1>
  <form
    [formGroup]="recipientForm"
    (ngSubmit)="onSubmit()"
    id="create-team-form"
  >
    <mat-dialog-content class="mat-typography">
      <mat-form-field
        class="type"
        appearance="outline"
        data-cy="recipient-type"
      >
        <mat-label>Recipient Type</mat-label>
        <mat-select id="recipient-type" [formControl]="recipientType">
          <mat-option
            *ngFor="
              let recipient of selectOptions(
                recipientOptions,
                emailSelected$ | async
              )
            "
            [value]="recipient.value"
          >
            {{ recipient.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div [ngSwitch]="recipientType.value" class="switch">
        <mat-form-field
          class="webhook"
          *ngSwitchCase="
            ['discord', 'webhook'].includes(recipientType.value)
              ? recipientType.value
              : null
          "
          appearance="outline"
        >
          <mat-label>Webhook URL</mat-label>
          <svg matPrefix class="slack">
            <use
              xlink:href="#discord"
              *ngIf="recipientType.value === 'discord'"
            ></use>
            <use
              xlink:href="#webhook"
              *ngIf="recipientType.value === 'webhook'"
            ></use>
          </svg>
          <input matInput type="url" formControlName="url" placeholder="URL" />
          <mat-hint *ngSwitchCase="'webhook'" i18n
            >Supports Slack, Microsoft Teams, Rocket.Chat, and more</mat-hint
          >
          <mat-error *ngIf="url?.errors">
            <span *ngIf="url?.errors?.required || url?.errors?.pattern"
              >Enter a valid URL with protocol (ex. https://example.com)</span
            >
          </mat-error>
        </mat-form-field>
        <p class="email" *ngSwitchCase="'email'">
          An email will be sent to the members of this project.<br />
          Select "Add Recipient" to continue.
        </p>
        <p class="default" *ngSwitchDefault>
          Select an alert type to get started.
        </p>
        <p
          *ngIf="recipientError$ | async as error"
          class="error recipients-error"
        >
          {{ error }}
        </p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <gt-loading-button type="submit" buttonText="Add Recipient">
      </gt-loading-button>
      <button type="button" mat-flat-button (click)="closeDialog()">
        Cancel
      </button>
    </mat-dialog-actions>
  </form>
</div>
