@use "@angular/material" as mat;
@import "variables";

mat-card-header {
  align-items: center;
  margin-bottom: 12px;

  mat-card-title {
    padding-bottom: 0;
  }
}

.mat-card-title {
  margin-bottom: 0;
}

.error {
  color: #f44336;
  text-align: center;

  span {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.new-alert {
  background-color: mat.get-color-from-palette(mat.$gray-palette, 100);
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.new-alert-error {
  margin-top: -10px;
}

.new-alert-actions {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: $medium - 1) {
    padding-top: 10px;
    justify-content: flex-start;
  }

  gt-loading-button {
    margin-right: 16px;
  }
}

.no-alerts {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.alert {
  padding-bottom: 24px;
}

.alert-error {
  margin-bottom: -21px;
  padding-top: 16px;
}

.alert-header {
  padding-top: 16px;
}

// Move to global styles if we decide to implement in other places in app
.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: mat.get-color-from-palette(mat.$gray-palette, 500);
  cursor: help;
}

.recipients-error {
  text-align: left;
  margin-top: -14px;
  margin-bottom: -7px;
}

.no-recipients {
  width: 50%;
  padding: 8px 16px;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 100);
}

.no-recipients-new {
  background-color: #ffffff;
}

.recipients {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px 0;

  @media screen and (max-width: $large - 1) {
    width: 100%;
  }

  &.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .alert-type {
    padding-left: 2px;
    margin-right: 8px;
    font-size: 20px;
    width: 24px;
    height: 24px;
  }

  .svg-box {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .recipient-info {
    display: block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .trash {
    justify-self: flex-end;
    margin-left: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;

    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
    }
  }
}

.initial-loading {
  padding-top: 200px;
  padding-bottom: 200px;

  mat-progress-spinner {
    margin-left: auto;
    margin-right: auto;
  }
}

.initial-load-error {
  margin: unset;
  padding: 24px 24px 8px 24px;
}

.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}
